<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <h1>About Cinemaster</h1>
    <h2>Cinemaster allows you to keep track of what movies you've seen,<br>
        what movies you own, and what you mean to watch in the future!
    </h2>

    <%- include('./partials/footer.ejs') %>
</body>
</html>